:root {
  --Secondary: #1e8ca5;
  --SecondaryHover: #1b7e94;
  --White: #fff;
  --WhiteHover: #e5e5e5;
  --Primary: #1b2443;
  --Text-Color: #7b7b7b;
  --Error: red;
  --Red: #f7685b;
  --RedHover: #c45045;
}

@font-face {
  font-family: "Chillax";
  src: url("../src/assets/fonts/Chillax-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chillax";
}

body {
  background: #f5f6f8;
}

a {
  text-decoration: none !important;
  color: var(--Primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  color: var(--Primary);

  &.bold {
    font-weight: bold;
  }
}

h1 {
  font-size: 40px;
  line-height: 46px;
}

h2 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

h6 {
  font-size: 1em;
}

p {
  color: var(--Text-Color);
  font-family: Chillax;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.error-text {
  color: var(--Error);
}

.adminWrapper {
  display: flex;
  flex-direction: row;
}
.createWrapper {
  margin: -36px 24px;
  border-radius: 5px;
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 120px);
}

.punetorCreateForm {
  display: flex;
  flex-direction: column;
}
.punetorEditForm {
  display: flex;
  flex-direction: column;
}
.punetorInputs {
  max-width: 70%;
  padding: 24px 0px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  row-gap: 24px;
  flex: 1 1 45%;
}
.createHeader {
  display: flex;
  width: 30%;
  .createHeaderText {
    width: 100%;
  }
  .createSelection {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
}

.mainAdminContent {
  width: 100%;
}
.adminMainSection {
  background: #f5f6f8;
  padding: 60px 0px;
  height: calc(100% - 60px);
}
@media screen and (max-width: 1680px) {
  .createHeader {
    display: flex;
    width: 40%;
    .createHeaderText {
      width: 100%;
    }
    .createSelection {
      margin-left: 24px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 12px;
    }
  }
}
.productCreateForm {
  max-width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  row-gap: 24px;
  flex: 1 178.141%;
}

.dashboardHeader {
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  h2 {
    margin: unset !important;
  }
}

.paginatoinSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colored-cell {
  color: #1e8ca5;
}

.status-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &.green {
    background-color: #2ed47a;
  }
  &.red {
    background-color: #f7685b;
  }
  &.lightBlue {
    background-color: #1e8ca5;
  }
  &.yellow {
    background-color: #ffb946;
  }

  &.orange {
    background-color: #ff6b35;
  }
  &.unknown {
    background-color: gray;
  }
}

.salesWrapper {
  padding: 20px 0px;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.actionsHeader {
  display: flex;
  align-items: center;
  gap: 30px;
  width: fit-content;
}

.actionsHeaderButtons {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  a {
    width: 100%;
  }
}

.actionsHeaderButtonsLeft {
  display: flex;
  align-items: center;
  gap: 15px;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
  }

  h5 {
    font-size: 16px;
    line-height: 22px;
  }

  h6 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    color: var(--Text-Color);
    font-family: Chillax;
    font-size: 14px;
    line-height: 18px;
  }
  .adminWrapper {
    flex-direction: column;
  }
  .createWrapper {
    margin: -36px 0px;
    border-radius: 5px;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    .productCreateForm {
      max-width: 100%;
      padding: 0px;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 32px;
      row-gap: 24px;
      flex: 1 178.141%;
    }
  }
  .createHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .createHeaderText {
      width: 100%;
    }
    .createSelection {
      margin-left: 0px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 12px;
    }
  }

  .adminMainSection {
    padding: 30px 20px;
    background: #f5f6f8;
    position: relative;
    top: 30px;
    height: 100% !important;
    margin-bottom: 150px;
  }
  .salesWrapper {
    padding: unset;
  }
  .dashboardHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .actionsHeader {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
  }
  .actionsHeaderButtons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
  }

  .actionsHeaderButtonsLeft {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: fit-content;
  }
  .dashboardHeader {
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    h2 {
      margin: unset !important;
    }
  }
  .punetorCreateForm {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .punetorEditForm {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
  }
  .punetorInputs {
    max-width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 24px;
    flex: 1 178.141%;
  }
  .paginatoinSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -50px;
  }
}

.fileInputContainer {
  display: flex;
  padding: 18px 22px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px dashed var(--Text-Color, #7b7b7b);
  background: var(--White, #fff);
  .customFileInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .uploaded-preview {
      width: 100% !important;
      height: auto !important;
      object-fit: cover !important;
      border-radius: 8px !important;
    }
    p {
      width: 90px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .customFIleInputImage {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
}
.fileInputContainerEdit {
  display: flex;
  padding: 18px 22px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px dashed var(--Text-Color, #7b7b7b);
  background: var(--White, #fff);
  .customFileInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    p {
      width: 90px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .customFIleInputImage {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .fileInputContainerEdit {
    display: flex;
    padding: 4px 22px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px dashed var(--Text-Color, #7b7b7b);
    background: var(--White, #fff);
    .customFileInput {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      p {
        width: 90px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .customFIleInputImage {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
  }
  .fileInputContainer {
    display: flex;
    padding: 18px 22px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px dashed var(--Text-Color, #7b7b7b);
    background: var(--White, #fff);
    .customFileInput {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      p {
        width: 90px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .customFIleInputImage {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
  }
}

.uploaded-preview {
  max-width: 250px !important;
  max-height: 250px !important;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.error-message--global {
  margin: 12px 0;
  padding: 10px 12px;
  background-color: #fdecea;
  color: #b00020;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;

  position: relative;
  z-index: 9999;
  width: 100%;
}
